html {
    scroll-behavior: smooth;
}


/* navbar */
.nav{
    background-color: black;
}


/* First image + text */
.jumbotron{
    background-color: black;
    border-radius: 0rem;
}

.jumbotron img{
    width: 400px;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 59px;
    font-size: 29px;
    color: white;
}

strong{
    color: lime;
}




